.*
!/.buildkite/
!/.custom-gcl.yaml
!/.gitattributes
!/.github/
!/.gitignore
!/.golangci-default.yaml
!/.golangci.yaml
!/.markdownlint.yaml
!/.mockery.yaml
!/.pre-commit-config.yaml
!/.prettierrc.yaml
!/.yamlfmt
!/.yamllint
/bin/
/cover.out
/test.xml
/trace.out
/custom-gcl
