---
# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
repos:
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/google/keep-sorted
    rev: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.19.0
    hooks:
      - id: markdownlint-cli2
